#barchart-chart {
    /*aspect-ratio: auto 873 / 489 !important;*/
    /*height: 489px;
    width: 873px;*/
}

.barchart-container {
    width: 100%;
    height: 60vh;
}



@media screen and (max-width: 1500px) and (min-width: 1250px) {

    .barchart-container {
        width: 80%;
        height: 65vh;
    }

}