/* Estilos de Mapas de Leaflet */
@import url('./../node_modules/@mugan86/ng-leaflet/assets/styles/common.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend' !important;
}

:root {
    --red-securo-serv: #c02a2b;
    --dark-red-securo-serv: #90221c;
    --green-securo-serv: #6BCA9E;
    --dark-green-securo-serv: #509F78;
    --ad-hawk-color: #4474b2;
    --dark-white: #939c93;
    --full-height: -webkit-fill-available;
    --gtav-cursor: url('./assets/cursor.cur');
}

body {
    
}




html, body { 
    height: 100%; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::selection {
    background-color: var(--dark-red-securo-serv);
    color: white;
}
