<div class="resumen1-grid-parent1">
    <div class="resumen1-grid-child1">
        <h2>Bienvenido, {{ username }}</h2>
        <p>Gestiona tus almacenes de mercancía especial con SecuroServ</p>
        
    </div>
    <div class="resumen1-grid-child2">
        <button class="logout-btn" (click)="onLogout()">Cerrar sesión</button>
        
    </div>
</div>
<div class="resumen1-grid-parent2">
    <div class="resumen1-grid-child3">
        <ul>
            <li>CAJAS COMPRADAS</li>
            <li>VENTAS COMPLETADAS</li>
        </ul>
    </div>
    <div class="resumen1-grid-child4">
            <div>410</div>
            <div>13</div>
    </div>
</div>