.resumen1-grid-parent1 {
    display: flex;
}

.resumen1-grid-parent2 {
    display: flex;
    margin-top: 10px;
}

.resumen1-grid-child1 {
    flex: 8;
    padding-right: 5px;
}

.resumen1-grid-child2 {
    flex: 2;
    padding-left: 5px;
}

.resumen1-grid-child3 {
    flex: 10;
}

.resumen1-grid-child3 > ul {
    margin-left: 3%;
}

.resumen1-grid-child4 {
    flex: 3;
    text-align: right;
}

.logout-btn:hover {
    cursor: var(--gtav-cursor), auto !important;
    background: var(--red-securo-serv) !important;
}

.logout-btn {
    background: linear-gradient(360deg, rgba(30, 30, 30, 0.3), #00000066);
    border: none;
    color: white;
    font-size: 14px;
    position: relative;
    box-shadow: inset 0 4px 8px rgb(119 119 119 / 30%);
    outline: none;
    width: 100%;
    height: -webkit-fill-available;
    white-space: nowrap;
}

.logout-btn::before {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
}

.logout-btn::after {
    content: "";
    pointer-events: none; /* evita tapar el hover */
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
    z-index: 0;
}

/* smartphone screen */
@media screen and (max-width: 800px) {

    .resumen1-grid-child3 > ul {
        margin-left: 5%;
    }

}