.register-container {
    border-top: 5px solid var(--red-securo-serv);
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    max-width: 90%;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

/* Icono de Securo Serv */
.securoser-logo-img {
    width: 25%;
}

.securoser-logo-img:hover {
    cursor: var(--gtav-cursor), auto !important;
}

/* Inicia Sesión */
h2 {
    font-weight: 100;
    font-size: 1em;
    margin: 4% 0;
    color: var(--dark-white);
}

/* Formulario */
.register-form {
    text-align: end;
}

/* Labels */
.register-form label {
    text-align: left;
    width: 100%;
}

/* Campos */
input[type="text"], input[type="password"] {
    background-color: #0f100f;
    color: white;
    border: none;
    padding: 2%;
    margin: 2%;
    margin-right: 0;
    width: 70%;
}

input[type="text"]:focus-visible, input[type="password"]:focus-visible {
    border-color: #0f100f !important;
}

.register-form-bottom {
    display: flex;
    width: 100%;
    margin-top: 5%;

    /**/text-align: -webkit-right;
}

/* Texto versión */
.register-form-bottom-version {
    width: 100%;
    text-align: left;
    font-weight: 100;
    color: var(--dark-white);
    align-content: center;
    padding-left: 10%;
}

/* btn link */
.register-link-btn {
    background-color: transparent;
    color: var(--dark-white);
    border: none;
    text-decoration: underline;
    font-size: 1em;
}

.register-link-btn:hover {
    color: white;
}

.register-form-bottom-btn {
    width: 100%;
}

/* Red button */
button[type="submit"] {
    background-color: var(--dark-red-securo-serv);
    color: white;
    border: none;
    /*padding: 5% 15%;*/
    padding: 5%;
    width: 70%;

}

button[type="submit"]:hover {
    background-color: var(--red-securo-serv);
    cursor: var(--gtav-cursor), auto !important;
}

.register-grid-btn {
    display: flex;
}

.register-txt-btn {
    flex: 9;
    margin: auto;
}

.loader-container {
    flex: 2;
    width: 100%;
    margin: auto;
    padding: 0 5px;
}

/* Validations */
.input-field-error {
    border: 1px solid var(--red-securo-serv) !important;
    color: var(--red-securo-serv) !important;
}

small {
    color: var(--red-securo-serv);
}

@media screen and (max-width: 1250px) {

    .register-container {
        width: 45%;
    }

}

@media screen and (max-width: 1000px) {

    .register-container {
        width: 50%;
    }

    input[type="text"], input[type="password"] {
        width: 60%;
    }

}

@media screen and (max-width: 700px) {

    .register-container {
        width: 60%;
    }

    input[type="text"], input[type="password"] {
        width: 60%;
    }

    button[type="submit"] {
        width: 85%;
    }

}

@media screen and (max-width: 600px) {

    .register-container {
        width: 85%;
        padding: 5%;
        padding-top: 3%;
        padding-bottom: 5%;
    }

}

.register-body {
    background: linear-gradient(0deg, #111d20, #2a393b, #111d20, #2a393b, #111d20);
    height: 100vh;
    width: 100%;
    animation: fondoregister 10s ease-in-out infinite;
    background-size: 100% 300%;
}

@keyframes fondoregister {
    0% {
        background-position: 50% 100%;
    }
    25% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 50% 100%;
    }
}

/* Boton Crear cuenta loader */
.loader {
    width: 85%;
    padding: 5px;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.btn-loading {
    opacity: 0.7;
}

.btn-loading:hover {
    background-color: var(--dark-red-securo-serv) !important;
    cursor: default !important;
}
