.resumen-page {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 500;
    padding: 1%;
    color: white;
    width: 75%;
}

.home-component-div {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
}

/* Resumen Grid */
.resume-grid-parent {
    display: flex;
    /*grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.75rem;*/
}

.resume-grid-left {
    flex: 8;
}

.resume-grid-right {
    flex: 4;
    overflow: hidden;
}

.resume-grid-div1 {
    margin: 0 5px 10px 0;;
}

.resume-grid-block2 {
    height: 60vh;
}

.resume-grid-div2 {
    margin: 0 0 5px 5px;
}

.div2-container > div > h2 {
    font-weight: 100;
}

/* X / X cajas */
.num-existencias {
    text-align: center;
    font-size: 2em;
    padding-bottom: 2%;
}

/* Componente 3 (Botón ALMACENES) */


/* Grid dentro del div 3 */
.resume-grid-div3 {
    margin: 5px 5px 10px 0;
}

.div3-grid-parent {
    display: flex;
}
    
.div3-grid-child1 {
    flex: 11;
}

/* Layout Botón ALMACENES */
.div3-grid-child2 {
    flex: 3;
}

/* Botón ALMACENES */
.btn-warehouses {
    width: 100%;
    height: -webkit-fill-available;
    border: none;
    color: white;
    background-color: var(--dark-red-securo-serv);
}

.btn-warehouses:hover {
    cursor: var(--gtav-cursor), auto !important;
    background-color: var(--red-securo-serv);
}

/* Componente 4: Gráfico de Barras */
.resume-grid-div4 {
    margin: 5px 5px 0 0;
}

.div4-container > div > h2 {
    font-weight: 100;
}

/* Último componente */
.resume-grid-div5 {
    margin: 10px 0 0 5px;
    height: -webkit-fill-available;
}
        
/* smartphone screen */
@media screen and (max-width: 800px) {

    /* Home Main Page */
    .resumen-page {
        width: 95%;
        font-size: 11px;
        top: 50%;
    }

    .resume-grid-parent {
        display: block;
    }

    .resume-grid-div1, 
    .resume-grid-div2, 
    .resume-grid-div3, 
    .resume-grid-div4, 
    .resume-grid-div5 {
        margin: 0;
    }

    .resume-grid-div3 {
        height: 50px !important;
    }

    .home-component-div {
        margin: 10px 0 !important;
    }


    .resume-grid-right {
        flex: 4;
        overflow: visible;
    }

    .resume-grid-div5 {
        height: auto;
    }

}

@media screen and (max-width: 1500px) and (min-width: 1250px) {

    .resumen-page {
        left: 45%;
    }

}
